{% extends "network/layout.html" %}

{% block body %}
  <h1>All Posts</h1>
  {% if user.is_authenticated %}
    <section>
      <div class="post">
        <h2>New Post</h2>
        <form action="{% url 'new-post' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name="new-post-text" id="new-post-text"></textarea>
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </section>
  {% endif %}

  <!-- <section>
    {% for post in posts %}
      <div class="post">
        <a href="{% url 'profile' post.creator.username %}">{{ post.creator.username }}</a>
        <p>{{ post.text }}</p>
        <p><span>DATE: {{ post.date }}</span> <span>LIKES: {{ post.likes }}</span>
      </div>
    {% endfor %}
  </section> -->
    <section>
    {% for post in page_obj %}
      <div class="post">
        <a href="{% url 'profile' post.creator.username %}">{{ post.creator.username }}</a>
        <p>{{ post.text }}</p>
        <p><span>DATE: {{ post.date }}</span> <span>LIKES: {{ post.likes }}</span>
      </div>
    {% endfor %}
  </section>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}