{% extends "network/layout.html" %}

{% block body %}
  <h1>All Posts</h1>
  {% if user.is_authenticated %}
    <section>
      <div class="post">
        <h2>New Post</h2>
        <form action="/new-post" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name="new-post-text" id="new-post-text"></textarea>
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </section>
  {% endif %}

  <section>
    {% for post in posts %}
      <div class="post">
        <p>{{ post.creator.username }}</p>
        <p>{{ post.text }}</p>
        <p><span>DATE: {{ post.date }}</span> <span>LIKES: {{ post.likes }}</span>
      </div>
    {% endfor %}
  </section>
{% endblock %}