{% extends "network/layout.html" %}
{% load static %}


{% block body %}
  <h1>All Posts</h1>
  {% if user.is_authenticated %}
  <!-- create a new post section -->
    <section>
      <div class="post">
        <h2>New Post</h2>
        <form action="{% url 'new-post' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name="new-post-text" id="new-post-text"></textarea>
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </section>
  {% endif %}

    <section>
    <!-- display all posts -->
    {% for post in page_obj %}
      <div class="post" id="{{ post.id }}">
        <a href="{% url 'profile' post.creator.username %}">{{ post.creator.username }}</a>
        {% if post.creator.username == user.username %}
          <button type="button" class="btn btn-outline-dark btn-sm" id="{{ post.id }}">Edit</button>
        {% endif %}
        <p class='post-text'>{{ post.text }}</p>
        {% if post.likes.user == True %}
        <p>LIKED BY USER</p>
        {% endif%}
        <p>
          <span>DATE: {{ post.date }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg> <span id="likes-post-{{ post.id }}">{{ post.likes.count }}</span>
        </p>
      </div>
    {% endfor %}
  </section>

  <!-- navigation  -->
  <nav class="pagination">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
      {% endif %}

        <li class="page-item disabled">
          <a class="page-link" aria-disabled="true">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </a>
        </li>

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}