{% extends "network/layout.html" %}

{% block body %}
  <h1>{{ profileUsername }}</h1>
  <!-- follow/unfollow profile button -->
  {% if user.is_authenticated and user.username != profileUsername %}
    <form action="{% url 'follow-unfollow' profileUsername %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="{{ followMessage }}" class="btn btn-sm btn-primary">
    </form>
  {% endif %}

  <p>Number of followers: <strong>{{ followerCount }}</strong></p>
  <p>Following: <strong>{{ followingCount }}</strong></p>

  <!-- list all profile posts -->
  {% for post in page_obj %}
    <div class="post">
      <a href="{% url 'profile' profileUsername %}">{{ post.creator.username }}</a>
      <p>{{ post.text }}</p>
      <p><span>DATE: {{ post.date }}</span> <span>LIKES: {{ post.likes }}</span>
    </div>
  {% endfor %}
  
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}