{% extends "network/layout.html" %}

{% block body %}
  <h1>{{ profileUsername }}</h1>
  <!-- follow/unfollow profile button -->
  {% if user.is_authenticated and user.username != profileUsername %}
    <form action="{% url 'follow-unfollow' profileUsername %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="{{ followMessage }}" class="btn btn-sm btn-primary">
    </form>
  {% endif %}

  <p>Number of followers: <strong>{{ followerCount }}</strong></p>

  <!-- list all profile posts -->
  {% for post in profilePosts %}
    <div class="post">
      <a href="{% url 'profile' profileUsername %}">{{ post.creator.username }}</a>
      <p>{{ post.text }}</p>
      <p><span>DATE: {{ post.date }}</span> <span>LIKES: {{ post.likes }}</span>
    </div>
  {% endfor %}
{% endblock %}